node_modules
public/bundle.js
public/bundle.js.map
secrets.js
.DS_Store
npm-debug.log
yarn-error.log
public/web-audio-recorder-js


#awsmobilejs
aws-info.json
project-info.json
aws-exports.js
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/
