html{
  padding:0px;
  margin:0px;
}

body {
  font-family: sans-serif;
  /* background-color: rgb(171, 69, 240); */

    background: linear-gradient(hsl(233, 62%, 60%),rgb(10, 19, 80));

  /* background: linear-gradient(hsl(46, 100%, 74%),rgb(255, 166, 0)); */
  font-family: 'Raleway', sans-serif;
  padding:0px;
  margin:0px;
  min-height:100vh ;
  display:flex;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
  color:black
}


label {
  display: block;
}

nav a {
  margin: 1em;
  font-size: 14pt;
  white-space:nowrap;
  /* background-color: white; */
  height:100%;
  width:7vw;
}

form div {
  margin: 1em;
}
.recorderBtn{
  cursor:pointer;
  width:6vw;
  height:2.6vw;
  margin:.7vw;
  font-size:1.0rem;
  border-radius:.4vw;
  border:none;
  outline:none;
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
  background: linear-gradient(90deg,rgb(110, 110, 110), rgb(203, 203, 204),rgb(111, 111, 112));


}
.visualizer{
  border-radius:1vw;
  margin-bottom: 2vw;
}
#modalContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loginOrSignup{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:1vw;
  white-space: nowrap;
  width:12vw;
}
.loginOrSignup{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  border-radius:1vw;
  white-space: nowrap;
  width:8vw;
}
.addBtn{
  display:flex;
  align-items: center;
  justify-content: center;
  width:6vw;
  height:3vw;
  border-radius: .7vw;
  outline:none;
  font-size: 1.3rem;
  padding:.7vw;
  white-space: nowrap;


}
.titleAndAddBtnFlex{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:80vw;
}
.homeLabel{
  margin-right:30vw;;
}
.rateStory{
  padding:.7vw;
  display:flex;
  width:80vw;
  height:5vh;
  background-color: rgba(255, 0, 0, 0.349);
  margin:.4vw;
  border-radius:.4vw;
  align-items: center;
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);

  /* box-shadow: 0 0 .7vw .00000005vw rgb(39, 37, 34); */
  background: linear-gradient(-90deg,rgba(255, 224, 122,.3), rgba(255, 0, 0, 0.349));

}
.ratingTitle{
  font-size: 1.3rem;
  margin-right: 1.5vw;
}
.author{
  font-size: 1rem;
}
.ratingImg{
  margin-right:.4vw;
  margin-left: auto;
  box-shadow: 0 0 .7vw .00000005vw rgb(39, 37, 34);
  border-radius: .7vw;
  width:5.3vw;
  height:auto;
}

.voteBtnFlex{
  margin-right: 2vw;
  display:flex;
  flex-direction: column;
  width:3.1vw;
}

.ratingBtn{
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0vw;
  outline:none;
  width:3vw;
  height:2.5vh;
  margin:.05vw;
  border-radius: .4vw;
  box-shadow: 0 0 .5vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 .3vw .03vw rgb(27, 26, 24);
  border:none;
  background-color: rgba(209, 11, 209, 0.4);
  transition: all .2s
}
.ratingBtn:hover{
  background-color: rgba(250, 148, 250, 0.4)
}
.votes{
  margin-right: .5vw;
  width:3vw;
  padding:.5vw;
  border-radius: .4vw;
    background-color: rgba(146, 200, 250, 0.774);

  box-shadow: 0 0 .5vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 .3vw .03vw rgb(27, 26, 24);

}
.hoverProgress{
  transition:all .7s;
  margin:1vw;
}
.cardImg.groupCardImg{
  width:5vw;
  height:auto
}
.noVis{
  opacity:0;
}
.vis{
  opacity:1;
}
#controlPlayerPanel{
  display:flex;
}
#siteTitle{
  margin-left: .9vw;
  font-size: 30pt;
  margin-right: .5vw;
}
#mainPage{
  width:85vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.allItemsContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pageContainer{
  background: linear-gradient(hsl(39, 95%, 60%),rgb(255, 166, 0));
  border-radius: 1vw;
  margin-top:1vw;
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);

display:flex;
flex-direction: column;
width:97vw;
}

#carouselWrapper{
  display:flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
  justify-content: center;
  border-radius: 2vw;
   width:80%;
  overflow: hidden;
  height:14vw;
  background-color: rgba(216, 159, 121, 0.301);
}

.browseHeader{
/* background-color: rgba(174, 29, 232,0.2); */
  margin:3vw;
}
.cardContainer.carouselCard{
  margin:0px;
}
.cardContainer{
  border-radius: .6vw;

  display:flex;
  flex-direction: column;
  width:13vw;
  height:10vw;
  box-shadow: 0 0 1.2vw .3vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .01vw rgb(27, 26, 24);

  margin:1.45vw;
  padding:.5vw;
  background: linear-gradient(90deg,rgba(36, 49, 218,0.6),rgba(104, 24, 231, 0.6),rgba(36, 49, 218,0.6));
/* background-color: white; */
}
.imgWrapper{
  /* overflow:hidden; */
  max-height: 9vw;
  border-radius: .5vw;

}
.cardImg{
  border-radius: .5vw;

  width:9vw;
height:auto ;
box-shadow: 0 0 1.2vw .3vw rgba(28, 27, 27, 0.61),inset 0 0 1.1vw .3vw rgb(27, 26, 24);
}
#navBarFlex{
  display:flex;
 /* // justify-content: space-between; */
  align-items: center;
  width:100vw;
  height:13vh;
  /* background: linear-gradient(rgb(247, 195, 82), rgb(182, 183, 248),rgb(87, 126, 233)); */
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
  border-bottom-left-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  background: linear-gradient( hsl(46, 100%, 74%),rgb(250, 153, 7));

  /* background-color: rgba(248, 153, 124, 0.361); */
  margin:0px;
  /* border-bottom-right-radius:1vw;
  border-bottom-left-radius:1vw; */
}
nav{
  flex:1;
margin-right:3vw;
}

.optionImg{
  /* background: radial-gradient(rgb(247, 208, 137),rgba(16, 158, 253, 0.802)); */
  box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 2vw .05vw rgb(27, 26, 24);

  background: linear-gradient(90deg,rgb(87, 126, 233), rgb(182, 183, 248),rgb(87, 126, 233));
  border-radius: 2vw;
padding:2vw;
  width:10vw;
  height:auto;
  transition: all .3s;

  margin-bottom:2.3vw;
  margin-top: 4vw;
  cursor: pointer;

}
#testTools{
  display:flex;
  flex-direction: column;
  margin-top:15vw;
}
.optionImg:hover{
  box-shadow: 0 0 3vw .05vw rgba(17, 16, 16, 0.425), inset 0 0 2vw .05vw rgb(27, 26, 24);

  transform: scale(1.01);

  background: linear-gradient(90deg,rgb(87, 126, 233), rgb(217, 217, 238),rgb(87, 126, 233));
}

.optionLabel{
  font-size: 20pt;
  color:rgb(54, 53, 53);
}

#welcomeMsg{
  font-size: 18pt;
  margin-top: 7vw;
}

#motto{
  font-size: 34pt;
  margin-top: 5vw;
  font-weight: 150;
  color:rgb(54, 53, 53)
}

#mainOptions{
  justify-content: center;
  display:flex;
  height:50vh;
  width:80vw;
  align-items: center;
}

.singleOption{
  width:18vw;
}

#titleLogoFlex{
  flex:6;
  display:flex;
  /* //margin-right: 65vw; */
  align-items: center;
  margin-right: auto;
  margin-left: 1.5vw;
}
#titleLogoImg{
  width:6vw;

}
#viewContainer{
  padding:1vw;
  border-radius: 1vw;
  background: linear-gradient(hsl(46, 92%, 65%),rgb(255, 166, 0));
  width:90vw;
  box-shadow: 0 0 1.2vw .05vw rgb(243, 221, 166);
  height:100vh;
  overflow: hidden;
  position:relative;
  top:-6vw;
  z-index: 0;
}

#mainPlayer{
  background-color: rgb(40, 21, 213);
  padding:0px;
  margin-top: 0px;
  position: relative;
  top:-2.3vw;
}

.point{
  position: absolute;
  width: .1vw;
  height:100vw;
  border-radius: 2vw;
  background-color: rgb(204, 5, 5);
}

#mediaWindow {
  transition: opacity .5s;
  overflow: hidden;
}

.audioControlBtn{
  cursor: pointer;
  border:none;
  border-radius: .3vw;
  width:5vw;
  margin:.3vw;
  height:3vw;
  background-color: rgba(136, 36, 97, 0.562);
  box-shadow: 0 0 .3vw .005vw rgb(70, 69, 67);
  transition: all .2s
}

.audioControlBtn:hover{
  box-shadow: 0 0 .7vw .05vw rgb(53, 52, 52);
  background-color: rgba(221, 91, 171, 0.562);
}

#mediaContainer{
  width:50vw;
  border-radius: 1vw;
  height:100%;
}

#mediaWindow{
  width: 100%;
  height:100%;
  overflow:hidden;
}

#mediaImg{
  margin-top:2vw;
  height:100%;
  width:auto;
  border-radius:.3vw;
  box-shadow: 0 0 1.4vw .05vw rgb(80, 78, 74);
}

#mediaList {
  transition: opacity 1.3s;
}

#controlsContainer{
  display:flex;
  margin-bottom: 1.5vw;
  justify-content: center;
  box-shadow: 0 0 .45vw .00000000000005vw rgb(94, 94, 93);
  width:28vw;
padding:.7vw;
border-radius: 1vw;

  /* background: linear-gradient( rgba(231, 143, 85, 0.301), rgba(231, 143, 85, 0.901)); */

background-color: rgba(231, 143, 85, 0.301)

}

/* #waveContainer{

} */
.wave{
  background-color: rgba(216, 159, 121, 0.301);
overflow: hidden;
  position: relative;
  box-shadow: 0 0 .4vw .00000000000005vw rgb(105, 105, 103);
margin-top: 2.9vw;
  cursor: pointer;
  width:70vw;
  z-index: 2;
  /* border:1px solid rgb(146, 145, 145); */
  border-radius: 1vw;
  padding:.6vw;
}
#storyTitle{
  box-shadow: 0 -.17vw .5vw .05vw rgb(243, 221, 166);
  border-top-right-radius: 1vw;
  border-top-left-radius:  1vw;
  background-color :hsl(46, 92%, 65%);
  width:40vw;
  font-size: 1.6em;
  margin-bottom: 6vw;
  padding-top: 2vw;
  z-index: 1;
  height:7vw;
  position: relative;
  bottom:-2.2vw;
}


.hide{
  display: none;
}

@media (max-width: 620px) {

  #storyTitle {
    font-size: .7em;
 }

}
@media (min-width: 1000px) {

  #storyTitle {
     font-size: 2em;
  }

}
