html{
  padding:0px;
  margin:0px;
}

body {
  font-family: sans-serif;
  /* background-color: rgb(171, 69, 240); */

    background: linear-gradient(hsl(233, 61%, 41%),rgb(4, 9, 47));

  /* background: linear-gradient(hsl(46, 100%, 74%),rgb(255, 166, 0)); */
  font-family: 'Raleway', sans-serif;
  padding:0px;
  margin:0px;
  min-height:100vh ;
  display:flex;
  justify-content: center;
  position: relative;
  color:gold;
}

a {
  text-decoration: none;
  color:hsl(233, 58%, 43%);
  font-weight:500;
}


label {
  display: block;

}
#mediaTime{
  color:gold;
}
.inputAndLabel{
  display:flex;
  width:25vw;
}
.radioFlex{
  justify-content: space-between;
  display:flex;
  width:30vw;
}
.headerFlex{
  display:flex;
  justify-content: flex-start;
  height:2.2vw;
  background: linear-gradient(90deg,rgba(252, 173, 77, 0.668), rgba(244, 208, 119, 0.6));
  align-items: center;
  margin-bottom: 2vw;
  width: 95vw;
  border-radius: .5vw;
  margin-top:3vw;

  /* background: linear-gradient(90deg,rgba(98, 18, 110, 0.392),rgba(211, 138, 223, 0.392)); */

}
nav a {
  margin: 1em;
  font-size: 14pt;
  white-space:nowrap;
  /* background-color: white; */
  height:100%;
  width:7vw;
}

form div {
  margin: 1em;
}
.recorderBtn{
  cursor:pointer;
  width:10vw;
  height:3.6vw;
  margin:.7vw;
  font-size:1.5vw;
  font-weight:600;
  border-radius:.4vw;
  border:none;
  outline:none;
  white-space: nowrap;
  box-shadow: 0 0 1.5vw .3vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);

  background: linear-gradient(90deg,rgba(250, 153, 7,0.92), hsla(46, 100%, 74%, 0.93),rgba(250, 153, 7,0.92));
  color:rgb(7, 7, 146);

transition:all .4s;

}
.recorderBtn:hover{
  box-shadow: 0 0 1.0vw .3vw rgba(28, 27, 27, 0.37),inset 0 0 2vw .1vw rgb(27, 26, 24);

}
.recorderArrow{
  width:1vw;
  height:auto;
  margin-left:1vw;
  margin-right:1vw;

}
#playbackWaveformPlusBtns{
  display:flex;
  justify-content: center;
  align-items: center;
}
.arrowBtnFlex{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
#fadeVisualizer{
  transition:all 1s
}
#fady{
  transition: all 1s;
}
#playbackWaveform{
  transition:all 1s;
  position:absolute;
left:5.2vw;
  top:10vw;
}
.addBtn.record{
  cursor: pointer;
  box-shadow: 0 0 2vw .6vw rgba(12, 12, 12, 0.678),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
margin-left:18vw;
margin-right:18vw;
margin-top:2.3vw;
width:9vw;
font-weight: 400;
}
.visualizer{
  width:50vw;
  border:2px solid gray;
  box-shadow:0 0 2vw .1vw black;
  transition:all 2s;
  border-radius:.6vw;
  margin-bottom: 6vw;
  background-color: rgb(61, 61, 61);
margin-top: 3.5vw;
}
#modalContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loginOrSignup{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:1vw;
  white-space: nowrap;
  width:12vw;
}
.loginOrSignup{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  border-radius:1vw;
  white-space: nowrap;
  width:8vw;
}
.addBtn.editor{
  width:6vw;
  height:3vw;
}

.addBtn{
  cursor: pointer;
  font-weight: 350;
  display:flex;
  align-items: center;
  justify-content: center;
  width:8.2vw;
  border-radius: .7vw;
  outline:none;
  border:none;
  font-size: 1.3vw;
  padding:.9vw;
  white-space: nowrap;
  box-shadow: 0 0 1.5vw .3vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);

  background: linear-gradient(90deg,rgba(250, 153, 7,0.92), hsla(46, 100%, 74%, 0.93),rgba(250, 153, 7,0.92));
  color:rgb(7, 7, 146);

transition:all .15s;
}
.hoverProgress.light{
  color:gold;
}
.addBtn:hover{
  background: linear-gradient(90deg,rgba(250, 153, 7, 0.819), hsl(46, 100%, 76%),rgba(250, 153, 7, 0.819));

  box-shadow: 0 0 2.3vw .8vw rgba(28, 27, 27, 0.37),inset 0 0 1.5vw .06vw rgb(27, 26, 24);
transform:scale(.99)
}
.addBtnImg{

  margin-right:.5vw;
  margin-left: auto;
  /* box-shadow: 0 0 .7vw .00000005vw rgb(39, 37, 34); */
  border-radius: .7vw;
  width:2vw;
  height:auto;
}
.titleAndAddBtnFlex{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width:80vw;
}
.homeLabel{
  white-space: nowrap;
  margin-right:28vw;
  color:gold;
}
.listenBtn{
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 1rem;
  margin-left:auto;
  border-radius: .5vw;
  background-color: blue
}
.rateStory{
  cursor: pointer;
  transition:all .2s;
  padding:.7vw;
  display:flex;
  width:80vw;
  height:6vh;
  /* background-color: rgba(255, 0, 0, 0.349); */
  margin:.3vw;
  border-radius:.5vw;
  align-items: center;
  box-shadow: 0 0 .1vw .1vw rgba(254, 212, 42, 0.925),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
  background: linear-gradient( 90deg,rgb(1, 7, 75),rgb(0, 17, 148));

  /* box-shadow: 0 0 .7vw .00000005vw rgb(39, 37, 34); */
  /* background: linear-gradient( -90deg,rgb(255, 206, 122),rgb(250, 112, 7)); */

}
.rateStory:hover{
  background: linear-gradient(-90deg,rgba(255, 224, 122, 0.568), rgba(255, 0, 0, 0.616));
  transform: scale(1.04)
}
.ratingTitle{
  font-size: 1.3rem;
  margin-right: 1.5vw;
  color:gold;
}
.author{
  font-size: 1rem;
  color:gold;

}
.mediaStartEnd{
  color:gold;
}
.mediaInfo{
  align-items: center;
  display:flex;
  margin-right:auto;
}
.ratingImg{
  margin-right:.3vw;
  margin-left: auto;
  /* box-shadow: 0 0 .7vw .00000005vw rgb(39, 37, 34); */
  border-radius: .7vw;
  width:2.83vw;
  height:auto;
}
.ratingImg.editor{
  background-color: rgba(91, 171, 252, 0.557);
  border-radius: .5vw;
  min-width: 4vw;;
height:4vw;
  margin-right:2vw;
  margin-left: 0
}
.addBtn.editor{
  height:4vw;
}

.addedMediaRow{
  padding-left:.6vw;
  padding-right:.6vw;

  border:1px solid gold;
  align-items: center;
  /* //border:1px solid gold; */
  border-radius: .7vw;
  margin: .5vw;
  display:flex;
  height:5vw;;
justify-content: space-between;
  width:50vw;
}
.voteBtnFlex{
  justify-content: space-between;
  margin-right: 2vw;
  display:flex;
  flex-direction: column;
  width:3.1vw;
}

.ratingBtn{
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0vw;
  outline:none;
  width:3vw;
  height:2.5vh;
  margin:.05vw;
  border-radius: .4vw;
  box-shadow: 0 0 .5vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 .3vw .03vw rgb(27, 26, 24);
  border:none;
  background-color: rgb(212, 13, 13);
  transition: all .2s
}
#mediaListHeader{
  color:gold;
margin-top:3vw;
}
.addBtn.media{
  margin-top:1vw;
  width:8.3vw;
  height: 4vw;
}
.headerFlex.home{
  background:none;
}
/* .addStoryBtn{
  width:8.3vw;
  height: 4vw;
} */
#emptyMsg{
  color:gold;
  margin-bottom:2vw;
}
.mediaInput{
  color:rgb(43, 41, 41)
}
.ratingBtn:hover{
  background-color: rgba(250, 148, 250, 0.4)
}
.mediaInputLabel{
  color:rgb(43, 42, 42);
}
.storyName.carouselCard{
  color:gold;
}
.votes{
  margin-right: .5vw;
  width:3vw;
  padding:.5vw;
  border-radius: .4vw;
    background-color: rgba(252, 183, 34, 0.886);
color:rgb(39, 39, 39);
  box-shadow: 0 0 .5vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 .3vw .03vw rgb(27, 26, 24);

}
#commentInput{
  font-size: 1.5vw;
  margin-top:3vw;
  margin-bottom:3vw;
  min-height:7vw;
  border-radius: .5vw;
  background-color: rgb(222, 225, 225);
  width:70vw;
}
#addCommentForm{
  margin-top: 5vw;
  margin:2vw;
}
.addBtn.other{
  font-weight: 550;
  width:10vw;
  padding-right: 1.2vw;
}
.singleComment{
  flex-wrap: wrap;
  background-color: rgba(182, 189, 242, 0.2);
  /* align-items: flex-start; */
  /* flex-direction: column; */
  padding-left:2vw;
  padding-right:2vw;
padding-top:1vw;
padding-bottom:1vw;
  display:flex;
  justify-content: flex-start;
  margin:.4vw;
  border-radius:.6vw;
  color:gold;
  border:1px solid gold;
  width:80vw;
}
.titleAndAddBtnFlex.other{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
  margin-top:2vw;
}

.headerFlex.other{
  align-items: center;
  height:2.8vw;
  padding:.4vw;
  padding-left: 1vw;
width:68vw;
margin:0;

}
.homeLabel.other{
  font-size:1.3vw;
  color:rgb(2, 18, 97);
}
.addBtn.comment{
  width:10vw;
}
.commentDisplayName{
  margin-left: 71vw;
  text-decoration: underline;
  color:gold;
}
.commentContent{
  width:80vw;
  color:gold;
}
.hoverProgress{
  transition:all .7s;
  margin:1vw;
}
.cardImg.groupCardImg{
  box-shadow: none;
  width:6vw;
  height:auto;
}
.cardContainer.groupCard{
  justify-content: space-between;
  height:auto;
}
.optionImg.cardImg{

  /* //?margin-op:vw;; */
  padding:.6vw;
  margin-top:0;
  margin-bottom:1vw;
  border-radius: 5vw;
  width:5vw;
  background: linear-gradient(90deg,rgba(5, 0, 81, 0.92), hsla(238, 98%, 47%, 0.93),rgba(5, 0, 81, 0.92));
}
.noVis{
  opacity:0;
}
.vis{
  opacity:1;
}
#controlPlayerPanel{
  display:flex;
}
#siteTitle{
  margin-left: .9vw;
  font-size: 30pt;
  color:hsl(233, 53%, 42%);
  margin-right: .5vw;
  font-weight: 350;
}
#mainPage{
  width:85vw;
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
}
.allItemsContainer{
  display:flex;
  flex-wrap: wrap;
  width:80vw
}
#pageContainer{
  /* background: linear-gradient(hsl(39, 95%, 60%),rgb(255, 166, 0)); */
  border-radius: 1vw;
  margin-top:1vw;
  /* box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24); */
  justify-content: center;
display:flex;
flex-direction: column;
width:100vw;
}

#carouselWrapper{
  display:flex;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 0 1.2vw .09vw rgba(28, 27, 27, 0.37),inset 0 0 .3vw .03vw rgb(75, 73, 69); */
  justify-content: center;
  border-radius: 1vw;
   width:83%;
  overflow: hidden;
  height:17vw;
  margin-bottom: 1vw;
  /* background: rgb(247, 190, 106); */
  /* background: rgb(20, 37, 130); */


}

.browseHeader{
  white-space: nowrap;
display:flex;
justify-content: center;
align-items: center;
/* background-color: rgba(247, 186, 56, 0.986); */
height:2vw;
border-radius: .4vw;
color:hsl(250, 91%, 22%);
font-size: 1.1rem;
width:6.9vw;
/* margin-top: 1.5vw; */
/* border-radius: .6vw; */
/* box-shadow: 0 0 1vw .1vw rgb(32, 30, 22),inset 0 0 .1vw .0000001vw rgb(27, 26, 24); */
/* background: linear-gradient(90deg,rgba(227, 19, 19, 0.79), rgb(143, 2, 2),rgba(206, 5, 5, 0.749)); */

/* background: linear-gradient(90deg,rgba(86, 1, 1, 0.79), rgb(143, 2, 2),rgba(86, 0, 0, 0.749)); */
  margin-left:8vw;
}
.cardContainer.carouselCard.storyCard{
  background:none;
  background-color: rgb(4, 6, 135);
  border: .2vw solid rgba(253, 185, 66, 0.9);
  height:12vw;
  border-radius: .9vw;
  box-shadow: 0 0 1.5vw .3vw rgb(17, 17, 17),inset 0 0 .1vw .0000001vw rgb(27, 26, 24);
  margin:0px;
  min-height:10vw ;

}
.storyCard.cardContainer{
  padding-top: 1.4vw;
  min-height:12.5vw ;
  height:auto;
}
.cardContainer{
  justify-content: space-between;
  color:gold;
  border-radius: .6vw;
cursor: pointer;
  display:flex;
  flex-direction: column;
  width:10.5vw;
  height:14vw;
  box-shadow: 0 0 1.2vw .3vw rgba(28, 27, 27),inset 0 0 1.1vw .01vw rgba(28, 27, 27);
  margin:1.45vw;
  padding:.5vw;
background: linear-gradient(90deg,rgba(148, 148, 148, 0.79), rgb(234, 232, 232),rgba(156, 156, 156, 0.79));
transition:all .3s;
  /* background: linear-gradient(90deg,rgba(36, 49, 218,0.6),rgba(104, 24, 231, 0.6),rgba(36, 49, 218,0.6)); */
/* background-color: white; */
}
.cardContainer:hover{
  box-shadow: 0 0 2vw .1vw rgb(247, 201, 50),inset 0 0 1.1vw .01vw rgba(28, 27, 27);
}
.imgWrapper{
  /* overflow:hidden; */
  max-height: 9vw;
  border-radius: .5vw;

}
.cardImg{
  border-radius: .235vw;

  width:9vw;
height:auto ;
box-shadow: 0 0 1vw .00000001vw rgba(250, 207, 63, 0.808),inset 0 0 1.1vw .3vw rgb(27, 26, 24);
}
#navBarFlex{
  display:flex;
 /* // justify-content: space-between; */
  align-items: center;
  width:100vw;
  height:13vh;
  /* background: linear-gradient(rgb(247, 195, 82), rgb(182, 183, 248),rgb(87, 126, 233)); */
  box-shadow: 0 0 2.5vw .8vw rgba(65, 4, 4, 0.37),inset 0 0 1.1vw .03vw rgb(27, 26, 24);
  /* border-bottom-left-radius: 1.3vw; */
  /* border-bottom-right-radius: 1.3vw; */
  background: linear-gradient( hsl(46, 100%, 74%),rgb(250, 153, 7));

  /* background-color: rgba(248, 153, 124, 0.361); */
  margin-bottom:5vw;
  /* border-bottom-right-radius:1vw;
  border-bottom-left-radius:1vw; */
}
nav{
  flex:1;
margin-right:3vw;
}

.optionImg{
  /* background: radial-gradient(rgb(247, 208, 137),rgba(16, 158, 253, 0.802)); */
  box-shadow: 0 0 2.3vw .8vw rgba(28, 27, 27, 0.37),inset 0 0 1.7vw .2vw rgb(27, 26, 24);
  background: linear-gradient(90deg,rgba(250, 153, 7,0.92), hsla(46, 100%, 74%, 0.93),rgba(250, 153, 7,0.92));

  /* background: linear-gradient(90deg,rgb(87, 126, 233), rgb(182, 183, 248),rgb(87, 126, 233)); */
  border-radius: 1.2vw;
padding:2vw;
  width:10vw;
  height:auto;
  transition: all .15s;

  margin-bottom:2.3vw;
  margin-top: 4vw;
  cursor: pointer;

}
#testTools{
  display:flex;
  flex-direction: column;
  margin-top:15vw;
}
.optionImg:hover{
  background: linear-gradient(90deg,rgba(250, 153, 7, 0.819), hsl(46, 100%, 76%),rgba(250, 153, 7, 0.819));

  box-shadow: 0 0 2.3vw .8vw rgba(28, 27, 27, 0.37),inset 0 0 2.3vw .35vw rgb(27, 26, 24);
transform:scale(.99)

  /* background: linear-gradient(90deg,rgb(87, 126, 233), rgb(217, 217, 238),rgb(87, 126, 233)); */
}

.optionLabel{
  font-size: 1.74vw;
  color:rgb(54, 53, 53);
  color:hsl(46, 90%, 62%)

}
#storyAuthor{
  width:10vw;
  margin:0;
  font-size: 1.5vw;
  white-space: nowrap;
}
#welcomeMsg{
  font-size: 18pt;
  margin-top: 7vw;
  color:hsl(46, 90%, 62%)
}
.memberCardImg{
  width:7vw;
  height:auto;
  margin-top: 1vw;
  margin-bottom: 1.5vw;

}
.memberCard.cardContainer{
flex-direction: column;
  justify-content: space-between;
}
#motto{
  font-size: 3vw;
  margin-top:3vw;
  font-weight: 150;
  color:rgb(255, 206, 122)}

#mainOptions{
  justify-content: center;
  display:flex;
  height:50vh;
  width:80vw;
  align-items: center;
}

.singleOption{
  width:18vw;
}

#titleLogoFlex{
  flex:6;
  display:flex;
  /* //margin-right: 65vw; */
  align-items: center;
  margin-right: auto;
  margin-left: 1.5vw;
}
#titleLogoImg{
  width:6vw;

}
#viewContainer{
  padding:1vw;
  border-radius: 1vw;
  background: linear-gradient(hsl(46, 92%, 65%),rgb(255, 166, 0));
  width:90vw;
  box-shadow: 0 0 1.2vw .05vw rgb(243, 221, 166);
  height:100vh;
  overflow: hidden;
  position:relative;
  top:-6vw;
  z-index: 0;
}

#mainPlayer{
  background: linear-gradient(hsl(233, 69%, 40%),rgb(4, 9, 47));
  padding:0px;
  margin-top: 0px;
  position: relative;
  top:-2.3vw;
}

.point{
  position: absolute;
  width: .1vw;
  height:100vw;
  border-radius: 2vw;
  background-color: rgb(204, 5, 5);
}

#mediaWindow {
  transition: opacity 1s;
  overflow: hidden;
}

.audioControlBtn{
  cursor: pointer;
  border:none;
  border-radius: .3vw;
  width:5vw;
  margin:.3vw;
  height:3vw;
  background-color: rgba(136, 36, 97, 0.562);
  box-shadow: 0 0 .3vw .005vw rgb(70, 69, 67);
  transition: all .2s
}

.audioControlBtn:hover{
  box-shadow: 0 0 .7vw .05vw rgb(53, 52, 52);
  background-color: rgba(221, 91, 171, 0.562);
}

#mediaContainer{
  width:50vw;
  border-radius: 1vw;
  height:100%;
}

#mediaWindow{
  width: 100%;
  height:100%;
  overflow:hidden;
  transition:opacity 1s;
}

#mediaImg{
  margin-top:2vw;
  height:auto;
  width:35vw;
  border-radius:.3vw;
  box-shadow: 0 0 1.4vw .05vw rgb(80, 78, 74);
}
#hi{/*Hi everybody, I'm Reese Long, this is jeff Goldback and this is Aaron Young and we are the developers of Storio. Simply put, Storio is a  platform for storytelling. With storio you can record a story, enhance your recording with additional media, and then share it with the world or with a select group of friends or family. We'd like to start by discussing some of the features supported by storio in a story created with storio.

  **Begin Storio playback**

  The features of storio include the ability to record stories using the recording tool (still of visualizer), to edit stories and add media such as photos and videos, and then to share you story either publicly or within private groups created by users. Stories can also be discussed through comments, browsed, and upvoted or downvoted. Now I'll hand it over to jeff who will discuss the technologies we used and our overall experience building Storio **still of waveform** */}
#mediaList {
  transition: opacity 1.7s;
}

#controlsContainer{
  display:flex;
  margin-bottom: 1.5vw;
  margin-top:1vw;
  justify-content: center;
  box-shadow: 0 0 .45vw .00000000000005vw rgb(94, 94, 93);
  width:28vw;
padding:.7vw;
border-radius: 1vw;

  /* background: linear-gradient( rgba(231, 143, 85, 0.301), rgba(231, 143, 85, 0.901)); */

background-color: rgba(231, 143, 85, 0.301)

}
.wave.light{
  background-color: rgba(224, 141, 247, 0.15);
}
.header{
  color:gold;
 font-size:2vw;
}
/* #waveContainer{

} */

.wave{
  background-color: rgba(216, 159, 121, 0.301);
overflow: hidden;
  position: relative;
  box-shadow: 0 0 .4vw .00000000000005vw rgb(105, 105, 103);
margin-top: 4vw;
  cursor: pointer;
  width:70vw;
  z-index: 2;
  /* border:1px solid rgb(146, 145, 145); */
  border-radius: 1vw;
  padding:.6vw;
}
.storyName{
  margin-top:.3vw;
  width:80%;
  color :hsl(239, 94%, 20%);
  font-weight: 500;
  /* width:40vw; */
  font-size: 1.26vw;
  /* margin-bottom: 6vw; */
  /* padding-top: 2vw; */
  /* height:7vw; */
}
#storyTitle{
  display: flex;
  flex-direction: column;
  justify-content:center;
  box-shadow: 0 -.17vw .5vw .05vw rgb(243, 221, 166);
  border-top-right-radius: 1vw;
  border-top-left-radius:  1vw;
  background-color :hsl(46, 92%, 65%);
  width:40vw;
  font-size: 1vw;;
  margin-bottom: 7.3vw;
  padding-top: .3vw;
  z-index: 1;
  height:8.2vw;
  position: relative;
  bottom:-2.2vw;
  color: hsl(250, 91%, 22%);
}


.hide{
  display: none;
}

@media (max-width: 620px) {


 #playbackWaveform{
  transition:all 1s;
  position:absolute;
left:7vw;
  top:50vw;
}
}
@media (min-width: 1000px) {

  #storyTitle {
     font-size: 2em;
  }

}
